*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 70px;
}

nav a{

    color:white;

    text-decoration:none;

    margin-left:30px;

}